// Import responsive system
@use '../../styles/_variables' as *;
@use '../../styles/_responsive' as *;

.statistics-page {
  background: var(--c-background);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}