.main-content {
    padding: 0 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--c-background);
  }
  
  .card-header {
      display: flex;
      align-items: center;
      gap: 8px;
  }