.main-layout-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  min-height: 100vh;

  .main-layout-container {
    position: relative;
    width: var(--app-width);
    height: var(--app-height);
    background-color: var(--c-background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}


